{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block head %}
    {{ super() }}
{%  endblock %}
{% block body %}
    <div>
        <h2>Tweet</h2>
    </div>
    {% if err_msg: %}
        <div  class="alert alert-danger" role="alert">
            {{err_msg}}
        </div>
    {% endif %}
    <div class="row">
        <form method="post" action="{{upload_url}}" enctype="multipart/form-data" class="col-md-12">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="tweet_content">Tweet</label>
                    <textarea class="form-control" rows="5" id="tweet_content" name="tweet_content">{{tweets_content}}</textarea>
                </div>
                <div class="form-group col-md-6">
                    <input type="file" name="tweet_image">
                </div>
                <div class="form-group col-md-6 text-right">
                    <input type="submit" name="button" class="btn btn-primary mb-2" value="Tweet"/>
                </div>
            </div>
        </form>
    </div>
    {% if tweets|length > 0: %}
        {% for tweet in tweets %}
            <div class="row">
                <div class="col-md-12">
                    {{tweet.user_name}}
                </div>
                <div class="col-md-12">
                    {{tweet.tweet_content}}
                </div>
                <div class="col-md-12">
                    {{tweet.updated_date}}
                </div>
                {% if tweet.tweet_image_url %}
                    <div>
                        <img src="{{tweet.tweet_image_url}}">
                    </div>
                {% endif %}
                {% if username == tweet.user_name %}
                    <div class="col-md-12">
                        <form action="/home?tweet_id={{tweet.key.id()}}" method="post">
                            <a class="btn btn-success" href="/tweet-edit?id={{tweet.key.id()}}">Edit</a>
                            
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif%}
{% endblock %}
